<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="vPublic" value="C:\\Users\\Public\\Biblioteca\\biblioteca.txt" />
		<add key="chiave2" value="11" />
		<add key="violino" value="12" />
		<add key="pianoforte" value="spinetta o affini" />
		<add key="organo" value="Hammond" />
	</appSettings>
</configuration>